
<div class="south-search-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="advanced-search-form">
          <!-- Search Title -->
          <div class="search-title">
            <p>Search for your home</p>
          </div>
          <!-- Search Form -->
          <form action="#" method="post" id="advanceSearch">
            <div class="row">

              <div class="col-12 col-md-4 col-lg-3">
                <div class="form-group">
                  <input type="input" class="form-control" name="input" placeholder="Keyword">
                </div>
              </div>

              <div class="col-12 col-md-4 col-lg-3">
                <div class="form-group">
                  <select class="form-control" id="cities">
                    <option>All Cities</option>
                    <option>Riga</option>
                    <option>Melbourne</option>
                    <option>Vienna</option>
                    <option>Vancouver</option>
                    <option>Toronto</option>
                    <option>Calgary</option>
                    <option>Adelaide</option>
                    <option>Perth</option>
                    <option>Auckland</option>
                    <option>Helsinki</option>
                  </select>
                </div>
              </div>

              <div class="col-12 col-md-4 col-lg-3">
                <div class="form-group">
                  <select class="form-control" id="catagories">
                    <option>All Catagories</option>
                    <option>Apartment</option>
                    <option>Bar</option>
                    <option>Farm</option>
                    <option>House</option>
                    <option>Store</option>
                  </select>
                </div>
              </div>

              <div class="col-12 col-md-4 col-lg-3">
                <div class="form-group">
                  <select class="form-control" id="offers">
                    <option>All Offers</option>
                    <option>100% OFF</option>
                    <option>75% OFF</option>
                    <option>50% OFF</option>
                    <option>25% OFF</option>
                    <option>10% OFF</option>
                  </select>
                </div>
              </div>

              <div class="col-12 col-md-4 col-xl-4">
                <div class="form-group">
                  <select class="form-control" id="listings">
                    <option>All Listings</option>
                    <option>Listings 1</option>
                    <option>Listings 2</option>
                    <option>Listings 3</option>
                    <option>Listings 4</option>
                    <option>Listings 5</option>
                  </select>
                </div>
              </div>

              <div class="col-12 col-md-4 col-xl-4">
                <div class="form-group">
                  <select class="form-control" id="bedrooms">
                    <option>Bedrooms</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5+</option>
                  </select>
                </div>
              </div>

              <div class="col-12 col-md-4 col-xl-4">
                <div class="form-group">
                  <select class="form-control" id="bathrooms">
                    <option>Bathrooms</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5+</option>
                  </select>
                </div>
              </div>

<!--              <div class="col-12 col-md-8 col-lg-12 col-xl-5 d-flex">-->
<!--                &lt;!&ndash; Space Range &ndash;&gt;-->
<!--                <div class="slider-range">-->
<!--                  <div data-min="120" data-max="820" data-unit=" sq. ft" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="120" data-value-max="820">-->
<!--                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; Distance Range &ndash;&gt;-->
<!--                <div class="slider-range">-->
<!--                  <div data-min="10" data-max="1300" data-unit=" mil" class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="10" data-value-max="1300">-->
<!--                    <div class="ui-slider-range ui-widget-header ui-corner-all"></div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

              <div class="col-12 search-form-second-steps">
                <div class="row">

                  <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">
                      <select class="form-control" id="types">
                        <option>All Types</option>
                        <option>Apartment <span>(30)</span></option>
                        <option>Land <span>(69)</span></option>
                        <option>Villas <span>(103)</span></option>
                      </select>
                    </div>
                  </div>

                  <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">
                      <select class="form-control" id="catagories2">
                        <option>All Catagories</option>
                        <option>Apartment</option>
                        <option>Bar</option>
                        <option>Farm</option>
                        <option>House</option>
                        <option>Store</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">
                      <select class="form-control" id="Actions">
                        <option>All Actions</option>
                        <option>Sales</option>
                        <option>Booking</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-12 col-md-4 col-lg-3">
                    <div class="form-group">
                      <select class="form-control" id="city2">
                        <option>All City</option>
                        <option>City 1</option>
                        <option>City 2</option>
                        <option>City 3</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <select class="form-control" id="Actions3">
                        <option>All Actions</option>
                        <option>Sales</option>
                        <option>Booking</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <select class="form-control" id="city3">
                        <option>All City</option>
                        <option>City 1</option>
                        <option>City 2</option>
                        <option>City 3</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-12 col-md-4">
                    <div class="form-group">
                      <select class="form-control" id="city5">
                        <option>All City</option>
                        <option>City 1</option>
                        <option>City 2</option>
                        <option>City 3</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 text-center">
                <div class="form-group mb-0">
                  <button type="submit" class="btn btn-success ">SEARCH</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Header End -->

<!-- Breadcrumb Section Begin -->

<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h2>Our Rooms</h2>
          <div class="bt-option">
            <a [routerLink]="['/home']">Home</a>
            <span>Rooms</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcrumb Section End -->

<!-- Rooms Section Begin -->
<section class="rooms-section spad">
  <div class="container">
    <div class="row">
      <div class="col-md-6" *ngFor="let house of listHouse">
        <a href="" [routerLink]="['/home/detail',house.id]">
        <div >
          <div class="room-item">
            <img src="{{house.image}}" alt="" style="width: 150px; height: 350px">
            <div class="ri-text">
              <h4>{{house.name}}</h4>
              <h3>{{house.price}} VNĐ<span>/night</span></h3>
              <table>
                <tbody>
                <tr>
                  <td class="r-o">Category:</td>
                  <td>{{house.type_house}}</td>
                </tr>
                <tr>
                  <td class="r-o">Bed:</td>
                  <td>{{house.bedroom}}</td>
                </tr>
                <tr>
                  <td class="r-o">Bath:</td>
                  <td>{{house.bathroom}}</td>
                </tr>
                <tr>
                  <td class="r-o">Status:</td>
                  <td>{{house.status}}</td>
                </tr>
                <tr>
                  <td class="r-o">Description:</td>
                  <td>{{house.description}}</td>
                </tr>
                <tr>
                  <td class="r-o">Address:</td>
                  <td>{{house.address}}</td>
                </tr>
                </tbody>
              </table>
              <a [routerLink]="['/home/detail',house.id]" class="primary-btn">More Details</a>
            </div>
          </div>
        </div>
        </a>
      </div>


      <div class="col-lg-12">
        <div class="room-pagination">
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">Next <i class="fa fa-long-arrow-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Rooms Section End -->


