
<div class="container">
  <h2 class="text-center">Your Bill</h2>
  <div class="box-center">
    <button class="btn btn-primary btn-lg mr-3" [routerLink]="['/home/bills/new']">New</button>
    <button class="btn btn-secondary btn-lg" [routerLink]="['/home/bills/old']">Old</button>
  </div>
  <div class="row">
    <h1 class="text-center"> Your Bill Order </h1>
    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">No</th>
        <th scope="col">House Name</th>
        <th scope="col">TotalPrice</th>
        <th scope="col">CheckIn</th>
        <th scope="col">CheckOut</th>
        <th scope="col">Status</th>
        <th scope="col">People</th>

        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bill of billOderNew; let i = index">
        <td>{{i+1}}</td>
        <td >{{bill.house.name}}</td>
        <td>{{bill.totalPrice}}</td>
        <td>{{bill.checkIn}}</td>
        <td>{{bill.checkOut}}</td>
        <td>{{bill.status}}</td>
        <td>{{bill.order}}</td>
        <td ><a class="btn btn-danger" (click)="cancelBillOrder(i)">Cancel</a></td>
      </tr>
      </tbody>
    </table>
    <br>
    <h1 class="text-center"> Host Bill </h1>
    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">No</th>
        <th scope="col">Customer Book</th>
        <th scope="col">House Name</th>
        <th scope="col">CheckIn</th>
        <th scope="col">CheckOut</th>
        <th scope="col">Status</th>
        <th scope="col">People</th>
        <th scope="col">TotalPrice</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let bill of billHostNew; let i = index">
        <td>{{i+1}}</td>
        <td>{{customerOder[i].username}}</td>
        <td>{{bill.house.name}}</td>
        <td>{{bill.checkIn}}</td>
        <td>{{bill.checkOut}}</td>
        <td>{{bill.status}}</td>
        <td>{{bill.order}}</td>
        <td>{{bill.totalPrice}}</td>
        <td><a class="btn btn-info">Detail</a></td>
        <td ></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
